# ===============================================
# Files to ignore for your banking project
# ===============================================

# We are temporarily commenting out this line to ensure the vendor directory is deployed to Render.
# The server is currently failing to install dependencies on its own, as seen in the PHP fatal error.
# /vendor/

# Ignore local editor and log files
.vscode/
debug_log.txt

# Ignore temporary, backup, or local development files.
*.bak
*_BACKUP_*.php
*_OLD.php
*_WORKED.php

# Ignore the .gcloudignore file since it's not needed for Render.
.gcloudignore

# Ignore sensitive Firebase credentials
classes/firebase-service-account.json